
.content1ci , .content1di , .content1ei{
    width: 20%;
    right: 30%;
}

.content1cii , .content1dii , .content1eii{
    width: 25%;
    right: 0;}

    .content3aii{
        width: 50%;
    }
    
    span{color: hsl(333, 80%, 67%);}

    .content3aiii , .content3biii , .content3ciii{
        height: 60%;
        width: 90%;
    }




