#Container1{
    height: 1440px;
}

#Container2{
    flex-direction: column;
}

div.Container3 , div.Container4 , div.Container5{ 
    width: 65%;
    height: 30%;
}

div.Container3{ border-radius: 10px 10px 0 0; }
div.Container5{ border-radius:  0 0 10px 10px; }

div.Content1 img{
    width: 20%;
}